body {
    font-family: Arial, sans-serif;
    background-image: url('pemandangan pantai penimbangan.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Menjaga latar belakang tetap saat menggulir */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Menggunakan 100% dari tinggi viewport */
    color: #333;
}

.centered-content {
    text-align: center;
    width: 100%; /* Memastikan konten menggunakan lebar penuh */
}

h1 {
    color: white; /* Mengubah warna teks untuk kontras yang lebih baik */
    margin: 20px 0;
    font-size: 24px; /* Ukuran font yang lebih besar untuk visibilitas */
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px; /* Ukuran font yang lebih besar untuk kenyamanan tap */
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%; /* Lebar tombol yang lebih besar */
}

button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

